<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería la demora</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style_ingredientes.css">
    <link rel="stylesheet" href="../static/css/style_base.css">
    <link rel="stylesheet" href="../static/css/style_vender.css">
</head>
<body>
    <header>
        <h1>HELADERIA LA DEMORA</h1>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/productos/vender">Vender producto</a></li>
                <li><a href="/productos/nuevo">Agregar Producto</a></li>
                <li><a href="/ingredientes/nuevo">Agregar Ingrediente</a></li>
                <li><a href="/productos">Ver Productos</a></li>
                <li><a href="/ingredientes">Ver Ingredientes</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <img src="../static/img/store.jpg" class="responsiveImg">
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Heladería la demora. Todos los derechos reservados.</p>
    </footer>
</body>
</html>