{% extends "base.html" %}

{% block content %}
<h2>Lista de Ingredientes</h2>

<form method="post">
    
    Nombre:<br>
    <input type="text" name="nombre" required>
    
    Cantidad:<br>
    <input type="text" name="cantidad" required>
    
    Calorías:<br>
    <input type="numeric" name="calorias" required>
    
    Precio:<br>
    <input type="numeric" name="precio" required>
    
    <label><input type="checkbox" name="vegetariano"> Es vegetariano</label>
    
    <label><input type="checkbox" name="sano"> Es sano</label><br>

    Sabor:<br>
    <input type="text" name="sabor">
    
    <br><br>
    
    <button type="submit">Agregar Ingrediente</button>
</form>

<ul>
{% for ingrediente in ingredientes %}
    <li>{{ ingrediente.nombre }} - {{ ingrediente.cantidad }} - {{ ingrediente.sabor }}</li>
{% endfor %}
</ul>

{% endblock %}